
h1#section-title {
  margin-bottom: 30px;
  text-align:center;
  padding-bottom:10px;
  border-bottom:1px solid lightgrey;
}

.segment.container.section{
  margin:30px auto;
  min-height: 63vh!important;
}

.contact-form-container {
  background:rgba(255, 255, 255, 0.6)!important;
  height: 589px!important;
  width:500px!important;
}