
.contact-form .ui.input  {
  max-width:250px!important;
}

.contact-form .ui.form textarea{
  margin:auto;
  max-height: 200px;
  height: 160px;
}

.contact-form .button{
  width:7em;
}

.contact-form .header {
  text-shadow: 1px 1px 1px lightslategray;
}

.contact-form .message {
  padding: 0.3em 1.3em!important;
}